
$color-1-claro:deepskyblue;
$color-2-claro:black;
$color-3-claro:white;


$colores-claros:(
    red,
    blue,
    white,
    green
);

$tamanio:(
    "pequenio":10px,
    "medio":30px,
    "grande":50px,
    "L":300px

);

$tamanios-porcentaje:(
    'pequenios':25%,
    'medio':50%,
    'grande':100%
);
//pa lo colores lista 
//pa los tamaños

:root .tema-oscuro {
        --color1: deepskyblue;
        --color2: green;
        
        --color3:  blue;
        --color4: violet;
        --color5: #fff;
        --color6: red;
        --imgIntagram:url("../img/instagram.png");
        --tema-oscuro:true;
        --imgPersonal: url("https://i.pinimg.com/736x/15/94/0c/15940cd9f607fec3675ff5161df83a5e.jpg")
    }

:root .tema-claro{

    --color1:white;
    --color2:deepskyblue;
    --imgPersonal:url("https://cdn.pixabay.com/photo/2019/08/06/00/46/black-and-white-4387130_1280.jpg");
    --tema-oscuro:false;

}


.padre{
    background-color: var(--color1);
    height: 900px;
}

body{
    margin: 0;
    
    background-color: var(--color2);
    
}
 $debug:false;//ver IF en el footer

 @mixin widthHeight($ancho,$altura){
    width: $ancho;
    height: $altura;
}




@mixin fotoPersonal(){
    float: left;
    @include widthHeight($altura:150px,$ancho:150px );
    border-radius: 50%;
    margin-left: 20%;
    background-image: var(--imgPersonal);
    //background-image: url("https://cdn.pixabay.com/photo/2019/08/06/00/46/black-and-white-4387130_1280.jpg");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

@import "partials/menus";
@import "partials/estilos.scss";
@import "partials/trabajo.scss";
@import "partials/footer.scss";
@import "partials/aficiones.scss";
@import "partials/experiencia.scss";
@import "partials/footerAbajo.scss";



@mixin estilo-tipografico($tamano:50px,$color:red,){
    background-image: $tamano;
    background-color: $color;
}
