
.pies {
    display: block;
    height: 120px;
    width: 100%;
    background-color:var(--color-1);
    text-align: center;

  }
div.b{
    display: inline-block;
    position: relative;
    background-color: red;
    border: 1px solid black;
    width: 90px;
    height: 90px;
    border-radius: 60px;
    z-index: 1;
    margin: 10px 100px;
    

  }
  .mb{
    background-color: var(--color-5);
    position: absolute;
    border: 1px solid black;
    top:5px;
    left: 5px;
    width: 86%;
    height: 87%;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 1);
  }
//un foreach para poner las igamenes en el footer 
$redes: git,correo,instagram;
  @each $r in $redes{
    .mb.#{$r}{
      background-image:url(../imagenes/#{$r}.png);
      background-size:70% 70%;  
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  
